<div class="app-container">
  <app-navigation></app-navigation>
  <main class="main-content">
    <router-outlet />
  </main>
  <app-whatsapp-chat-bubble></app-whatsapp-chat-bubble>
</div>

<!-- Modal de Recordatorios -->
@if (showRemindersModal) {
  <app-reminders-modal 
    [isVisible]="showRemindersModal"
    (close)="closeRemindersModal()"
    [isAdmin]="isAdmin"
    [editMode]="editMode"
    [tempAnnouncement]="tempAnnouncement"
    [loadingSave]="loadingSave"
    [loadingImage]="loadingImage"
    [imageUploadError]="imageUploadError"
    [reminderTitle]="reminderTitle"
    [reminderButtonText]="reminderButtonText"
    [reminderDeadline]="reminderDeadline"
    [reminderDetails]="reminderDetails"
    [externalLink]="externalLink"
    [reminderImage]="reminderImage"
    (startEditAnnouncement)="onStartEditAnnouncement()"
    (saveAnnouncement)="onSaveAnnouncement()"
    (cancelEditAnnouncement)="onCancelEditAnnouncement()"
    (imageFileSelected)="onAnnouncementImageSelected($event)"
  />
}

@if (showAuthModalForLogin) {
    <app-auth-modal></app-auth-modal>
}
