<nav class="main-nav">
    <div class="logo">
      <img src="../../../assets/images/HAMSE_Logo.png" alt="Hamse Logo">
    </div>
    <ul class="nav-items">
      @for (item of navItems; track item.path) {
        <li>
          <a [routerLink]="item.path" 
             [routerLinkActive]="'active'"
             [class.active]="item.active">
            <div class="icon-wrapper">
              <i class="fa-solid fa-{{item.icon}}"></i>
            </div>
            <span>{{item.label}}</span>
          </a>
        </li>
      }
    </ul>
</nav>